body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}
/* Doctors Section */
#doctorsList .card {
    transition: transform 0.3s;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#doctorsList .card:hover {
    transform: translateY(-10px);
}

#doctorsList .card img {
    border: 3px solid #007bff;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px auto;
}

#doctorsList .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#doctorsList .card-text {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

#doctorsList .btn {
    display: block;
    width: 80%;
    margin: 0 auto 20px;
}
